{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}About authors{% endblock %}

{% block page_content %}

    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 18px; text-align: left; font-weight: bold;">
            Alicja Bicka
        </div>
        <div class="panel-body">
            <div class="media-left">
                <img src="/static/Alicja.jpg" alt="Alicja" style="width: 15vw; height: 15vw;">
            </div>
            <div class="media-body" style="font-size: 15px;">
                <p>Studentka ostatniego roku studiów magisterskich na specjalności Inżynieria finansowa.</p>
                <p>Młodszy specjalista ds. zarządzania ryzykiem rynkowym w Banku Gospodarstwa Krajowego.</p>
                <p>Na co dzień poruszam się w obszarze zarządzania ryzykiem stopy procentowej i ryzykiem walutowym.</p>
                <p>Główny obszar moich zainteresowań to analizy rynku finansowego.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 18px; text-align: left; font-weight: bold;">
            Maciej Mucha
        </div>
        <div class="panel-body">
            <div class="media-left">
                <img src="/static/Maciej.jpg" alt="Maciej" style="width: 15vw; height: 15vw;">
            </div>
            <div class="media-body" style="font-size: 15px;">
                <p>Student ostatniego roku na specjalności Inżynieria Finansowa.</p>
                <p>Specjalista do spraw ryzyka rynkowego w banku Pekao.</p>
                <p>W wolnym czasie żegluję i szkolę się na patent żeglarza jachtowego.</p>
                <p>Jestem miłośnikiem sportu i spędzania czasu na świeżym powietrzu.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 18px; text-align: left; font-weight: bold;">
            Mateusz Stanisławski
        </div>
        <div class="panel-body">
            <div class="media-left">
                <img src="/static/Mateusz.jpg" alt="Mateusz" style="width: 15vw; height: 15vw;">
            </div>
            <div class="media-body" style="font-size: 15px;">
                <p>Student ostatniego roku studiów magisterskich na specjalności Inżynieria Finansowa.</p>
                <p>Analityk w dziale Supply Chain Controlling w Nivea Polska.</p>
                <p>W wolnym czasie staram się podnieść moje kompetencje programistyczne głównie w jezyku Python, ale również w JavaScript.</p>
                <p>Poza czysto technicznymi zainteresowaniami interesuje się również zdrowym odżywianiem i ekologią.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 18px; text-align: left; font-weight: bold;">
            Michel Voss
        </div>
        <div class="panel-body">
            <div class="media-left">
                <img src="/static/Michal.jpg" alt="Michel" style="width: 15vw; height: 15vw;">
            </div>
            <div class="media-body" style="font-size: 15px;">
                <p>Student ostatniego roku studiów magisterskich na specjalności Informatyka w Gospodarce i Administracji. </p>
                <p>Młodszy analityk produktowy w Grupie OLX, gdzie na co dzień analizuję zachowanie użytkowników korzystających z wyszukiwarki na portalu.</p>
                <p>Głównie zainteresowany w tematyce analizy danych i prezentacji liczb.</p>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" style="font-size: 18px; text-align: left; font-weight: bold;">
            Klaudia Wolniewicz
        </div>
        <div class="panel-body">
            <div class="media-left">
                <img src="/static/Klaudia.jpg" alt="Klaudia" style="width: 15vw; height: 15vw;">
            </div>
            <div class="media-body" style="font-size: 15px;">
                <p>Studentka ostatniego roku studiów magisterskich na specjalności Informatyka w Gospodarce i Administracji.</p>
                <p>Młodszy analityk systemowy w firmie Esysco.</p>
                <p>Na co dzień poruszam się w obszarze technologii opartych na kryptografii.</p>
                <p>Po godzinach rozwijam umiejętności programistyczne w języku Python.</p>
                <p>Moim głównym obszarem zainteresowania jest pisanie aplikacji webowych.</p>
            </div>
        </div>
    </div>

{% endblock %}